body {
  background-color: @base-color--invert;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.spacer {
  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      display: inline-block;
      .size(260px; 1px);
    }
  }
}
