.font(@font; @src; @font-weight: normal; @font-style: normal) {
  font-family: "@{font}";
  src: url("../fonts/@{src}.woff2") format("woff2"),
    url("../fonts/@{src}.woff") format("woff");
  font-weight: @font-weight;
  font-style: @font-style;
  font-display: swap;
}

.font-global(@font) {
  font-family: @font, @specify-families;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: @base-color--lighten;
}

.font-text(@font-weight: inherit; @font-size: inherit; @line-height: inherit; @color: inherit) {
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @color;
}

.size(@width; @height) {
  width: @width;
  height: @height;
}

.button-m() {
  padding: 16px 0;
  text-align: center;
}

// start indent
.indent() {
  margin: 0;
  padding: 0;
}

.indent(list) {
  .indent();
  list-style-type: none;
}
// end indent

.size-width(@size; @padding) {
  width: @size;
  padding: 0  @padding;
}

.grid-cr(@c; @r) {
  grid-column: @c;
  grid-row: @r;
}

.zigzag(@height; @width; @bottom; @name;) {
  position: absolute;
  content: "";
  width: @width;
  height: @height;
  bottom: @bottom;
  background: url("../img/background/separator/@{name}") bottom center;
}

.main-nav__toggle(hamburger) {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  .size(20px; 2px);
  background-color: @base-color--2;
}

.main-nav__toggle(closed) {
  .main-nav__toggle(hamburger);
  box-shadow: 0 8px 0 0 @base-color--2, 0 16px 0 0 @base-color--2;
}

.main-nav__toggle(opened) {
  .main-nav__toggle(hamburger);
  top: 25px;
  box-shadow: none;
}

.main-nav__toggle(openedBefore) {
  transform: rotate(45deg);
}

.main-nav__toggle(openedAfter) {
  transform: rotate(-45deg);
}
