// font
@font-name: "Open Sans";
@specify-families: sans-serif;
@font-url: opensans;
@font-url--bold: opensansbold;

// color
@base-color: #000000;
@base-color--lighten: #444444;
@base-color--invert: #ffffff;

@brand-color--1: #63d1bb;
@brand-color--2: #56c3b2;
@brand-color--3: #62d1ba;
@brand-color--4: #6bc6b3;
@brand-color--5: #46c1ae;

// backgroundColor
@bg-color: @base-color--invert;
@bg-color--1: #f1f1f1;

// screenSize
@mobile-size: 260px;
