.about {
  width: 100%;
}

.about__wrapper {
  padding-top: 31px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.about__title {
  .font-text(700; 25px; 30px; @base-color);
  margin-bottom: 28px;
}

.abaut__item {
  .font-text(700; 17px; 20px; @base-color);
  margin-bottom: 83px;
}

.about__list {
  .indent(list);
}
