.about {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about__wrapper {
  padding-top: 31px;
  .mobile-width();
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: @tablet-size;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-size;
  }
}

.about__title {
  .font-text(700; 25px; 30px; @base-color);
  margin-bottom: 28px;
  width: 100%
}

.abaut__item {
  .font-text(700; 17px; 20px; @base-color);
  margin-bottom: 83px;
}

.about__list {
  .indent(list);

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
