.button {
  display: inline-block;
  background-color: @base-color--invert;
  text-decoration: none;
  box-sizing: border-box;
  padding: 13px 0;
  width: 100%;
  text-align: center;
  border: 2px solid @base-color--lighten;
  .font-text(700; 18px; 20px; @base-color--lighten);
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: @base-color--lighten;
    color: @base-color--invert;
  }

  &:focus {
    outline: 2px solid @brand-color--3;
    outline-offset: -2px;
  }

  &:active {
    color: rgba(@base-color--invert, 30%);
  }

  &--full {
    background-color: @brand-color--1;
    border: 2px solid @brand-color--1;
    color: @base-color--invert;

    &:hover {
      border: 2px solid @base-color--lighten;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
    padding: 16px 0;
  }
}

.button__arrow {
  position: relative;
  .size(50px; 26px);
  border: 1px solid @base-color--3;
  display: block;
  width: 100%;
  padding: 26px 26px;

  &--right {
    transform: scaleX(-1);
  }

  &:hover {
    background-color: rgba(@base-color--invert, 0%);
  }

  @media (min-width: @tablet-width) {
    background-color: rgba(@base-color--invert, 0%);
    border: none;
    padding: 0;
  }
}

.button__arrow:hover svg {
  fill: rgba(@base-color, 60%);
}

.button__arrow:active svg {
  fill: rgba(@base-color, 30%);
}

.button__arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: @base-color;
}
