.catalog-sections {
  width: 100%;
  background: url("../img/background/hero-mobile-bg.png");
}

.catalog-sections__zigzag-line {
  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 110px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    &::after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: -15px;
      height: 24px;
      background: url("../img/background/zigzag-line.svg") bottom center;
    }
  }
}

.catalog-sections__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 90px;
  background: url("../img/background/hero-mobile.jpg") no-repeat top center;
  min-height: 415px;

  @media (min-width: @tablet-width) {
    padding-top: 70px;
    min-height: 545px;
    background: url("../img/background/hero-desktop.jpg") no-repeat top -90px center;
  }
}

.catalog-sections__title {
  .font-text(700; 27px; 30px; @base-color);
  .indent();

  &--center {
    text-align: center;
  }

  & br:first-child {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    .font-text(700; 43px; 50px; @base-color);
  }

  @media (min-width: @desktop-width) {
    .font-text(700; 53px; 57px; @base-color);
  }
}

.catalog-sections__link {
  .font-text(700; 19px; 24px; @base-color--invert);
  text-decoration: none;

  &:hover .catalog-sections__link-content {
    transform: translate(0, -5px);
  }

  &:active .catalog-sections__link-content::after {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    .font-text(700; 20px; 30px; @base-color--invert);
  }
}

.catalog-sections__link-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}

.catalog-sections__link-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 450px;
  }
}

.catalog-sections__list {
  .indent(list);
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    width: @tablet-size;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: @desktop-size;
  }
}

.catalog-sections__item {
  flex-grow: 1;
  position: relative;

  &:first-child .catalog-sections__link-wrapper {
    background-color: @brand-color--1;

    @media (min-width: @tablet-width) {
      justify-content: flex-end;
    }
  }

  &:first-child .catalog-sections__link-content {
    @media (min-width: @tablet-width) {
      padding-right: 36px;
    }
  }

  &:first-child .catalog-sections__link-content::after {
    background: url("../img/icon/interior.svg") no-repeat;
    .size(40px; 62px);
  }

  &:last-child .catalog-sections__link-wrapper {
    background-color: @brand-color--2;

    @media (min-width: @tablet-width) {
      justify-content: flex-start;
    }
  }

  &:last-child .catalog-sections__link-content {
    @media (min-width: @tablet-width) {
      padding-left: 36px;
    }
  }

  &:last-child .catalog-sections__link-content::after {
    background: url("../img/icon/cube.svg") no-repeat;
    .size(60px; 62px);
  }

  &:first-child:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: @brand-color--1;
    top: -5px;
  }

  &:last-child:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: @brand-color--2;
    top: -5px;
  }
}

.catalog-sections__link-content::after {
  content: "";
  display: block;
}
