.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    display: grid;
    margin: 0 auto;
    .size-width(@desktop-size; @desktop-padding);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "w m"
      "w m"
      "b m";
  }
}

.contacts__wrapper {
  display: grid;
  .size-width(@mobile-size; @mobile-padding);
  padding-top: 30px;
  grid-area: w;

  @media (min-width: @tablet-width) {
    .size-width(@tablet-size; @tablet-padding);
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.contacts__title {
  .font-text(700; 25px; 30px; @base-color);
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    .font-text(700; 43px; 50px; @base-color);
  }

  @media (min-width: @desktop-width) {
    .font-text(700; 53px; 57px; @base-color);
  }
}

.contacts__data {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1px;
  row-gap: 20px;
  .font-text(400; 14px; 30px);
  margin-bottom: 62px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr 2fr);
    width: @tablet-size;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 2fr;
    width: @tablet-size;
  }
}

.contacts__data-address {
  @media (min-width: @tablet-width) {
    width: 257px;
  }
}

.contacts__link {
  text-decoration: none;
  color: @base-color--lighten;
}

.contacts__map {
  margin-bottom: 42px;
  grid-area: m;
}

.contact__button {
  padding: 16px 27px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  grid-area: b;
}
