.contacts {
  width: 100%;
}

.contacts__wrapper {
  display: grid;
  margin-bottom: 100px;
  padding-top: 30px;
}

.contacts__title {
  .font-text(700; 25px; 30px; @base-color);
  margin-bottom: 28px;
  .mobile-width();
}

.contacts__data {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1px;
  row-gap: 20px;
  .font-text(400; 14px; 30px);
  .mobile-width();
  margin-bottom: 62px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr 2fr);
    width: @tablet-size;
  }
}

.contacts__data-address {
  @media (min-width: @tablet-width) {
    width: 257px;
  }
}

.contacts__link {
  text-decoration: none;
  color: @base-color--lighten;
}

.contacts__map {
  margin-bottom: 42px;
}

.contact__button {
  .button-m();
}
