.knitting {
  width: 100%;
}

.knitting__wrapper {
  padding-top: 17px;
}

.knitting__wrapper-greeting-text {
  .size-width(max; @mobile-size; @mobile-padding);
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    .size-width(no-max; @tablet-size; @tablet-padding);
  }

  @media (min-width: @desktop-width) {
    .size-width(@desktop-size; @desktop-padding);
  }
}

.knitting__group {
  display: flex;
  flex-direction: column;
  gap: 44px;
  border: none;
  margin-bottom: 43px;
}

.knitting__group-name {
  .font-text(700; 17px; 16px; @brand-color--1);
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 35px;

  &::after {
    position: relative;
    top: -7px;
    left: 0;
    margin-left: 18px;
    width: 100%;
    content: "";
    border-bottom: 1px solid @brand-color--3;
    z-index: -1;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.knitting__group-wrapper-dark {
  @media (min-width: @tablet-width) {
    background-color: @base-color--1;
  }
}

.knitting__greeting-text {
  .font-text(400; 13px; 24px);
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    .font-text(400; 17px; 30px);
    max-width: 670px;
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
  }
}

.knitting__label {
  .font-text(700; 17px; 18px; @base-color);
  position: relative;
}

.knitting__input {
  &--tel,
  &--email {
    grid-column: span 2;
  }

  &[type="radio"] {
    .visually-hidden();
  }

  &[type="radio"] + .knitting__label {
    margin-left: 61px;
  }

  &[type="radio"] + .knitting__label::before {
    position: absolute;
    top: -12px;
    left: -61px;
    width: 42px;
    height: 42px;
    content: "";
    border-radius: 50%;
    border: 2px solid @base-color--lighten;
  }

  &[type="radio"]:checked + .knitting__label::after {
    position: absolute;
    content: "";
    top: 7px;
    left: -46px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: @brand-color--3;
  }
}

.knitting__textarea {
  grid-column: span 2;
}

.knitting__send {
  margin-bottom: 55px;
}

.knitting__send-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  .size-width(max; @mobile-size; @mobile-padding);

  @media (min-width: @tablet-width) {
    width: @tablet-size;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-size;
  }
}

.knitting__required-fields {
  margin-top: 17px;
  margin-bottom: 30px;
}

.knitting__button {
  .font-text(700; 17px; 16px; @base-color--lighten);
  padding: 18px 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: auto;
    order: -1;
    padding: 18px 32px;
  }

  @media (min-width: @desktop-width) {
    order: -1;
    padding: 18px 17px;
  }
}
