.knitting {
  width: 100%;
}

.knitting__wrapper {
  padding-top: 17px;
}

.knitting__wrapper-greeting-text {
  .size-width(@mobile-size; @mobile-padding);
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    .size-width(@tablet-size; @tablet-padding);
  }

  @media (min-width: @desktop-width) {
    .size-width(@desktop-size; @desktop-padding);
  }
}

.knitting__group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  .size-width(@mobile-size; @mobile-padding);
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    .size-width(@tablet-size; @tablet-padding);
  }

  @media (min-width: @desktop-width) {
    .size-width(@desktop-size; @desktop-padding);
  }
}

.knitting__group-wrapper-dark {
  @media (min-width: @tablet-width) {
    background-color: @base-color--1;
  }
}

.knitting__greeting-text {
  .font-text(400; 13px; 24px);
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    max-width: 670px;
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
  }
}

.knitting__input {
  &--tel,
  &--email {
    grid-column: span 2;
  }
}

.knitting__textarea {
  grid-column: span 2;
}

.knitting__send {
  margin-bottom: 55px;
}

.knitting__send-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  .size-width(@mobile-size; @mobile-padding);

  @media (min-width: @tablet-width) {
    width: @tablet-size;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-size;
  }
}

.knitting__required-fields {
  margin-top: 17px;
  margin-bottom: 30px;
}

.knitting__button {
  .font-text(700; 17px; 16px; @base-color--lighten);
  padding: 18px 0;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    order: -1;
    padding: 18px 32px;
  }

  @media (min-width: @desktop-width) {
    order: -1;
    padding: 18px 17px;
  }
}

