.mail-link {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid @brand-color--3;
  color: @base-color--lighten;

  &:hover {
    color: @brand-color--5;
    border-bottom: 1px solid @brand-color--5;
  }

  &:active {
    border-bottom: none;
  }
}
