.main-nav {
  display: flex;
}

.main-nav__wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__list {
  .indent(list);
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.main-nav__item {
  padding: 3px;
}
