.page-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: @base-color--1;
}

.page-footer__wrapper {
  .size-width(@mobile-size; @mobile-padding);

  @media (min-width: @tablet-size) {
    display: flex;
    .size-width(@tablet-size; @tablet-padding);
  }

  @media (min-width: @desktop-size) {
    .size-width(@desktop-size; @desktop-padding);
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-size) {
    padding: 30px 0;
    display: block;
  }
}

.page-footer__logo-wrapper {
  display: flex;
}
