.page-header {
  background-color: @bg-color;
  width: 100%;
}

.page-header__wrapper {
  display: flex;
  justify-content: center;
  padding: 22px 30px;

  @media (min-width: @tablet-width) {
    .screen(@tablet-size);
    justify-content: space-between;
  }
}
