.page-main__title {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: @base-color--1;
}

.page-main__title-wrapper {
  .flex(center; center);
  .size-width(max; @mobile-size; @mobile-padding);
  min-height: 177px;

  @media (min-width: @tablet-width) {
    .size-width(no-max; @tablet-size; @tablet-padding);
    min-height: 226px;
  }

  @media (min-width: @desktop-width) {
    .size-width(no-max; @desktop-size; @desktop-padding);
    min-height: 255px;
  }
}

.page-main__heading {
  .font-text(700; 27px; 30px; @base-color);
  text-align: center;

  @media (min-width: @tablet-width) {
    .font-text(700; 43px; 50px; @base-color);
  }

  @media (min-width: @desktop-width) {
    .font-text(700; 53px; 57px; @base-color);
  }
}
