.page-main__title {
  width: 100%;
  background-color: @bg-color--1;
}

.page-main__title-wrapper {
  .screen(@mobile-size);
  padding: 74px 0;
}
.page-main__heading {
  .font-text(700; 27px; 30px; @base-color);
}
