.page-header {
  background-color: @base-color--invert;
  width: 100%;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  min-height: 79px;
}

.page-header__logo-link {
  margin-top: 22px;

  &:hover .page-header__logo {
    opacity: 0.6;
  }

  &:active .page-header__logo {
    opacity: 0.3;
  }
}
