.page-header {
  background-color: @bg-color;
  width: 100%;
}

.page-header__wrapper {
  .screen(@mobile-size);
  margin-top: 22px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
}
