.produce {
  width: 100%;
  display: flex;
  justify-content: center;
}

.produce__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  .size-width(@mobile-size; @mobile-padding);

  @media (min-width: @tablet-width) {
    .size-width(@tablet-size; @tablet-padding);
  }

  @media (min-width: @desktop-width) {
    .size-width(@desktop-size; @desktop-padding);
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.produce__heading {
  .font-text(700; 17px; 24px; @base-color);
  margin-left: 91px;
  margin-bottom: 27px;
}

.produce__video {
  .size(260px; 150px);
  background: url("/img/background/video-mobile.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    order: -1;
  }

  @media (min-width: @tablet-width) {
    .size(668px; 445px);
  }

  @media (min-width: @desktop-width) {
    .size(682px; 445px);
  }
}

.produce__play-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.produce__description {
  margin-left: 34px;
  margin-bottom: 41px;
}

.produce__order-button {
  text-align: center;
  padding: 18px 27px;
  margin-bottom: 109px;
}
