.produce {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 58px;
  border-top: 1px solid @base-color--3;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

.produce__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  .size-width(max; @mobile-size; 0);

  @media (min-width: @tablet-width) {
    .size-width(no-max; @tablet-size; @tablet-padding);
  }

  @media (min-width: @desktop-width) {
    .size-width(@desktop-size; 0);
    margin: 0 @desktop-padding;
    display: grid;
    grid-template-columns: 682px 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 80px;
    border: 1px solid @base-color--3;
    grid-template-areas:
      "video heading"
      "video description"
      "video button";

    &:hover {
      .item-bg(hover);
    }

    &:active {
      .item-bg(active);
    }
  }
}

.produce__heading {
  position: relative;
  .font-text(700; 17px; 24px; @base-color);
  margin-bottom: 27px;
  margin-left: @mobile-padding + 91px;
  margin-right: 34px;

  &::before {
    position: absolute;
    top: 8px;
    left: -55px;
    content: "";
    .size(32px; 22px);
    background: url("../img/icon/video.svg") no-repeat;

    @media (min-width: @tablet-width) {
      top: -2px;
      left: -65px;
    }

    @media (min-width: @desktop-width) {
      top: -47px;
      left: 0;
    }
  }

  @media (min-width: @tablet-width) {
    .font-text(700; 20px; 24px; @base-color);
    margin-left: @tablet-padding + 92px;
    grid-area: heading;

    & br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 96px;
    margin-right: 57px;

    & br {
      display: inline;
    }
  }
}

.produce__video {
  display: flex;
  justify-content: center;
  align-self: center;
  .size(260px; 150px);
  background: url("../img/background/video-mobile.jpg") no-repeat center center;
  background-size: cover;
  margin: 0 25px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    .size(668px; 445px);
    order: -1;
    grid-area: video;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.produce__play-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;

  & svg {
    &:hover {
      transform: scale(120%);
    }

    &:active {
      transform: scale(80%);
      opacity: 70%;
    }
  }
}

.produce__description {
  .font-text(400; 13px; 24px; @base-color--lighten);
  margin-top: 0;
  margin-left: @mobile-padding + 34px;
  margin-right: @mobile-padding;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    .font-text(400; 15px; 30px; @base-color--lighten);
    margin-left: @tablet-padding + 28px;
    margin-right: @tablet-padding;
    grid-area: description;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 27px;
    margin-right: 57px;
  }
}

.produce__order {
  border-bottom: 1px solid @base-color--3;
  margin: 0 @mobile-padding;

  @media (min-width: @desktop-width) {
    grid-area: button;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    border-bottom: none;
  }
}

.produce__order-button {
  .font-text(700; 18px; 16px; @base-color--lighten);
  text-align: center;
  padding: 14px 0;
  margin: 0 34px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    .font-text(700; 17px; 16px; @base-color--lighten);
    margin-left: 42px;
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: auto;
    margin-right: 57px;
    margin-bottom: 60px;
  }
}
