.produce {
  width: 100%;
}

.produce__wrapper {
  .screen(@mobile-size);
  padding-top: 21px;
}

.produce__heading {
  .font-text(700; 17px; 24px; @base-color);
  margin-left: 91px;
  margin-bottom: 27px;
}

.produce__video {
  .size(260px; 150px);
  background: url("/img/background/video-mobile.jpg") no-repeat;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.produce__play-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.produce__description {
  margin-left: 34px;
  margin-bottom: 41px;
}

.produce__order-button {
  text-align: center;
  padding: 18px 27px;
  margin-bottom: 109px;
}
